<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round|Open+Sans">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-8"><h2>Employee <b>Details</b></h2></div>
                <div class="col-sm-4">
                    <a class="btn btn-primary" href="/save" >Add New</a>
                </div>
            </div>
        </div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>DepartmentID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Job Title</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="employee: ${employees}">
                <td th:text="${employee.id}"></td>
                <td th:text="${employee.departmentId}"></td>
                <td th:text="${employee.firstName}"></td>
                <td th:text="${employee.lastname}"></td>
                <td th:text="${employee.jobTitle}"></td>
                <td>
                    <center>
                    <a th:href = "@{showUpdate/__${employee.id}__}" class="btn btn-warning" title="Edit" data-toggle="tooltip"><i class="material-icons"></i></a>
                    <a th:href="@{delete/__${employee.id}__}" class="btn btn-danger" title="Delete" data-toggle="tooltip" ><i class="material-icons"></i></a>
                    </center>
                </td>
            </tr>
            </tbody>
        </table>
        <nav aria-label="..." style="margin-top: 1rem">
            <center>
            <ul class="pagination justify-content-center">
                <li class="page-item" th:if="${employees.totalPages > 0}" th:each="pageNumber : ${employeesPageNumbers}">
                    <a th:href="@{/simplewebapp(employeesSize=${employees.size}, employeesPage=${pageNumber})}" th:text="${pageNumber}" th:class="'page-link ' + ${pageNumber==employees.number + 1}"></a>
                </li>
            </ul>
            </center>
        </nav>
    </div>
</div>
</html>